<!DOCTYPE html>
<html>
<head>
	<title>Appsflask</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js">
	<link href="{{url_for('static', filename='thisis.css')}}" rel="stylesheet">
</head>
<body>
	<html>
  <body>
   <div class="container">
	  <header class="header clearfix">
        <h1 class="text-muted">TODOLIST</h1>
      </header>
	<div>
	<form action="/add" method="POST">
	 	<label for="comment"></label>
        	<textarea name="myStatus" class="form-control" rows="5" id="comment"></textarea>
      	</div>
    	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
    <table class="form-control" rows="5" >
      {% for stat in stats %}
        <tr>
          <td>
            <form method="POST" action="/delete" style="display:inline">
              <input type="hidden" value="{{stat.text}}" name="myStatus">
              <input type="submit" value="X">
            </form>
          </td>
          <td>
            <p style="font-size:20pt"> {{ stat.text }}</p>
          </td>
           <td>
            <form method="POST" action="/update" style="display: inline">
              <input type="hidden" value="{{stat.text}}" name="oldtitle">
              <input type="text" value="{{stat.text}}" name="newtitle">
              <input type="submit" value="Update">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
    </div>
</div>
</body>
</html>


